# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.egg-info/
.eggs/
venv/
.env
.env.*
.coverage
.pytest_cache/

# SQLite DB
backend/*.db
backend/**/salarium.db
backend/salarium.db-wal
backend/salarium.db-shm
data/*.db
data/*.db-wal
data/*.db-shm
*.db-wal
*.db-shm

# Logs
*.log

# Node
frontend/node_modules/
frontend/dist/
frontend/.vite/

# OS/Editor
.DS_Store
Thumbs.db
.idea/
.vscode/
.trae